@import "tailwindcss";

@plugin "daisyui";

.keyword {
  @apply bg-amber-200 text-amber-900 px-1 py-0.5 rounded font-medium;
}

.search-snippet .keyword {
  @apply bg-amber-300 text-amber-950 font-semibold;
}

@layer base {
  body {
    @apply text-gray-900;
  }
}
